@{
    ViewBag.Title = "Welcome";
}
&nbsp;

<div>
    <h1>Welcome to the JunkenBox Pickup Corporation!</h1>
    <p class="lead">JunkenBox is a company where our customers provide a delivery location for us to pickup, so cleaning out the trash is a much easier task at home.</p>
</div>