@{
    ViewBag.Title = "Home Page";
}
&nbsp;

<div>
    <h1>Welcome to the JunkenBox Pickup Collection!</h1>
    <p class="lead">JunkenBox is a company where our customers provide a delivery location for us to pickup, so cleaning out the trash is a much easier task at home.</p>
    <p>To get started, register or, if you already have an account, login to JunkenBox's Collector System</p>
</div>