@{
    ViewBag.Title = "Home Page";
}
&nbsp;

<div style="color: white">
    <h1>Welcome to JunkerTown's Trash Collection!</h1>
    <p class="lead">JunkerTown is a company where our customers provide a delivery for us to pickup, so cleaning out the trash is a much easier task at home.</p>
    <p>To get started, register or login to JunkerTown's Collector System</p>
</div>