@model TrashCollector2.Models.Customers

@{
    ViewBag.Title = "Details";
}

<h2>@Model.FirstName @Model.LastName</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyPayment)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.MonthlyPayment)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
