@model IEnumerable<TrashCollector2.Models.Pickup>

@{
    ViewBag.Title = "Map Route";
}

<h2>Pickups Available</h2>
<br/>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
    #map {
        height: 500px;
        width: 100%;
    }
</style>


<div class="row">
    <br />
    <div id="map"></div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: { lat: 42.717915, lng: -87.840409 }
            });
            var geocoder = new google.maps.Geocoder();
            geocodeAddress(geocoder, map);
        }


      function geocodeAddress(geocoder, resultsMap) {
          @*@foreach(var item in Model)
          {
              item.Address
          }*@
              //var address =

            geocoder.geocode({'address': address}, function(results, status) {
                  if (status === 'OK') {
                      resultsMap.setCenter(results[0].geometry.location);

                      var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
                    });
              }
          else {
                  alert('Geocode was not successful for the following reason: ' + status);
              }
          });
      }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAStekB9zs5XGPWoVR6LJ91ezJBo68yL6M&callback=initMap">
    </script>
</div>