@model IEnumerable<TrashCollector2.Models.Pickup>

@{
    ViewBag.Title = "Map Route";
}

<h2>Pickups Available</h2>
<br/>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
    #map {
        height: 500px;
        width: 100%;
    }
</style>


<div class="row">
    <br />
    <div id="map"></div>
    <script>

        var addresses = [];

        @foreach(var item in Model)
        {
            <text>
                addresses.push(@item.Location + " " + @item.ZipCode)
            </text>
        }

        function initMap() {

               var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: { lat: 43.0389, lng: -87.9065 }
                    });

                    for (var x = 0; x < addresses.length; x++) {
                $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address=' + addresses[x] + '&sensor=false', null, function (data) {
                            var location = data.results[0].geometry.location;
                            var latlng = new google.maps.LatLng(location.lat, location.lng);
                            new google.maps.Marker({
                        position: latlng,
                        map: map
                    });

                });
            }
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAStekB9zs5XGPWoVR6LJ91ezJBo68yL6M&callback=initMap">
    </script>
</div>